*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lds-facebook {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

span.bet,
span.line {
  min-width: 50px;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}
span.bet {
  background-color: #eef4f8;
}

.group {
  display: flex;
  flex-direction: column;
  height: 40px;
  overflow: hidden;
  width: 100%;
}
.group:hover {
  height: auto;
}

.game_card {
  display: flex;
}
.table_board {
  flex: 1;
  border: 1px solid gray;
  margin-right: -1px;
  margin-bottom: -1px;
}
.participant {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.markets {
  flex: 3;
  display: flex;
  justify-content: space-between;
}
.markets > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}
.markets > div {
  border: 1px solid gray;
  margin-right: -1px;
  margin-bottom: -1px;
}

.indicators {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;

  border: 1px solid gray;
}
.event {
  flex: 1;
}
.odd_tbls {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.odd_indic {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.odd_indic span {
  width: 50px;
  text-align: center;
}
